<div class="container">
  <div *ngIf="negateMe" class="middle">
    <i class="fa fa-refresh fa-spin" style="font-size:24px;color:cornflowerblue"></i>
  </div>
  <div [ngClass]="{'overlay': negateMe }">
    <div>
      <a href="#default"><img src="attachingITlogo.png" style="height:40px" /></a>
      <label style="font-size:20px;margin-top:10px">AttachingIT | To Do</label>
      <a href="#about" style="float:right;margin-top:10px">SM</a>
    </div>
    <br />
    <div>
      <div>
        <button type="button" class="btn btn-default btn-sm" (click)="GetAllToDos()">
          <span class="glyphicon glyphicon-download"></span> Get All ToDos
        </button>
        <button type="button" class="btn btn-default btn-sm" (click)="AddToDo()">
          <span class="glyphicon glyphicon-plus"></span> Add
        </button>
        <button type="button" class="btn btn-default btn-sm" (click)="DeleteToDo()">
          <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
        <button type="button" class="btn btn-default btn-sm" (click)="SaveToDoServer()">
          <span class="glyphicon glyphicon-upload"></span> Save
        </button>
      </div>
    </div>
    <div style="margin-top:5px">
      <ag-grid-angular #agGrid
                       id="myGrid"
                       style="width: 100%; height: 500px;"
                       class="ag-theme-balham"
                       [rowData]="rowData"
                       [columnDefs]="columnDefs"
                       [enableSorting]="true"
                       [enableFilter]="true"
                       [animateRows]="true"
                       rowSelection="multiple"
                       (cellValueChanged)="onCellValueChanged($event)"
                       (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>
